 <mat-expansion-panel hideToggle="" class="service-button" (expandedChange)="expandedChanged($event)">
    <mat-expansion-panel-header style="padding: 0;">
      <mat-panel-title>
            <div 
                class="status"
                [style.background]="getStateColor(serviceModel.status)"
                [title]="serviceModel?.status ?? '' | titlecase"
            ></div>
            <mat-select *ngIf="sortedServices.length > 1" [(value)]="serviceModel" (click)="$event.stopPropagation()"> 
                <mat-option *ngFor="let item of sortedServices" [value]="item">
                    <span *ngIf="!(item.owner.username === me?.username || item.owner.username === 'apps-admin')">@{{item.owner.username}} -</span> {{item.name}}/{{item.release.name}}
                </mat-option>
            </mat-select>
            <span *ngIf="sortedServices.length === 1">
                <span *ngIf="!(serviceModel.owner.username === me?.username || serviceModel.owner.username === 'apps-admin')">@{{serviceModel.owner.username}} -</span> {{serviceModel.name}}/{{serviceModel.release.name}}
            </span>
            &nbsp;
            <span *ngIf="serviceModel?.started_at">&nbsp;Started {{getRunningSince()}}</span>        
      </mat-panel-title>

      <mat-panel-description style="margin: 0;">

        
        <button title="Open service" *ngIf="serviceModel?.status === 'ACTIVE' && serviceModel?.proxied_url" mat-icon-button (click)="openProxiedService()">
            <mat-icon>launch</mat-icon>
        </button>

        <button mat-icon-button title="Restart" (click)="$event.stopPropagation(); onRestart()">
            <mat-icon>refresh</mat-icon>
        </button>

        <mat-slide-toggle (click)="$event.stopPropagation()" [labelPosition]="'before'" [checked]="serviceModel?.enabled" (change)="toggleEnabled($event)" >Enabled</mat-slide-toggle>
      </mat-panel-description>

    </mat-expansion-panel-header>
    <monaco-code-editor [value]="logs" style="height: 300px;max-height: 500px;width: 100%;" [options]="monacoOptions"></monaco-code-editor>
</mat-expansion-panel>