<mat-expansion-panel hideToggle="" class="service-button" (expandedChange)="expandedChanged($event)">

    <mat-expansion-panel-header style="padding: 0;">
        <mat-panel-title>
            <div 
            class="status"
            [style.background]="getStateColor(service.status)"
            [title]="serviceModel?.status ?? '' | titlecase"
            ></div>
            
            <span>{{service.name}}</span>

            <span *ngIf="service?.started_at">&nbsp;Started {{getRunningSince()}}</span>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <monaco-code-editor [value]="logs" style="height: 300px;max-height: 500px;width: 100%;" [options]="monacoOptions"></monaco-code-editor>
</mat-expansion-panel>
